/* Reset básico CSS */

/* Establecer márgenes y rellenos en 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluir el borde y el relleno en el tamaño total */
}

/* Establecer la tipografía predeterminada a sans-serif */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* Eliminar los estilos de lista */
ul, ol {
    list-style: none;
}

/* Eliminar la decoración de los enlaces */
a {
    text-decoration: none;
    color: inherit;
}

/* Establecer los estilos predeterminados para la tabla */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Reiniciar otros elementos según sea necesario */
/* Ejemplo: */
/* img {
    max-width: 100%;
    height: auto;
} */